@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: black;
}

.fonte{
    font-family:"Libre","Baskerville";
    font-weight: 700;
    color: white;
    margin-left: 50%;
}

.tamanho{
    width: 50%;
    /* margin-left: 15%; */

}

.letra{
    font-size: medium;
}

img{
    margin-left: 25%;
    width: 50%;
    padding: 20px;
    border: solid 10px;
    border-color: white;
}